.Experience {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  color: #181819;
  background-image: url(../public/early-access-bg-1.svg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 2500px;
  .heading {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #181819;
    @media screen and (max-width: 750px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.75rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 1.45rem;
    }
  }
  .timeline {
    width: 100%;
    min-height: 40px;
    height: fit-content;
    position: relative;
    margin: 100px auto;
    @media screen and (max-width: 600px) {
      margin: 50px auto;
    }
    .container {
      .company {
        position: absolute;
        width: 40px;
        border-radius: 50%;
        right: -20px;
        top: 32px;
        z-index: 10;
      }
      padding: 10px 50px;
      position: relative;
      width: 50%;
      animation: moveDown 1s linear forwards;
      opacity: 0;
      @keyframes moveDown {
        0% {
          opacity: 1;
          transform: translateY(-30px);
        }
        100% {
          opacity: 1;
          transform: translateY(0px);
        }
      }
      .textBox {
        padding: 20px 30px;
        background: var(--light-base-bg-bg-2, #fff);
        position: relative;
        border-radius: 6px;
        font-size: 1rem;
        background: var(--light-base-bg-bg-2, #fff);
        box-shadow: 0px 4px 8px 0px rgba(26, 32, 44, 0.1),
          0px 8px 24px 0px rgba(45, 55, 72, 0.03),
          0px 8px 16px 0px rgba(45, 55, 72, 0.03),
          0px 4px 8px 0px rgba(45, 55, 72, 0.05), 0px -1px 0px 0px #f0f1f4;
        h2 {
          font-weight: 600;
        }
        small {
          display: inline-block;
          margin-bottom: 15px;
        }
        .companyAbout {
          @media screen and (max-width: 600px) {
            max-height: 330px;
            overflow-x: hidden;
            overflow-y: auto;
            padding-right: 8px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
        .leftArrow {
          width: 0;
          height: 0;
          position: absolute;
          top: 28px;
          z-index: 1;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #ffff;
          right: -15px;
          @media screen and (max-width: 600px) {
            border-right: 15px solid #ffff;
            border-left: 0;
            left: -15px;
          }
        }
        .rightArrow {
          width: 0;
          height: 0;
          position: absolute;
          top: 28px;
          z-index: 1;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 15px solid #ffff;
          left: -15px;
          @media screen and (max-width: 600px) {
            border-right: 15px solid #ffff;
            border-left: 0;
            left: -15px;
          }
        }
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
        .textBox {
          font-size: 13px;
          small {
            margin-bottom: 10px;
          }
        }
      }
    }
    .container:nth-child(1) {
      animation-delay: 0s;
    }
    .container:nth-child(2) {
      animation-delay: 3s;
    }
    .container:nth-child(3) {
      animation-delay: 4s;
    }
    .leftContainer {
      left: 0;
      @media screen and (max-width: 600px) {
        .company {
          left: 10px;
        }
      }
    }
    .rightContainer {
      left: 50%;
      .company {
        left: -20px;
      }
      @media screen and (max-width: 600px) {
        left: 0;
        .company {
          left: 10px;
        }
      }
    }
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    border-radius: 10px;
    background: #ff00cc; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #333399,
      #ff00cc
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #333399,
      #ff00cc
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveLine 6s linear forwards;
    @media screen and (max-width: 600px) {
      left: 31px;
    }
  }
  @keyframes moveLine {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }
}
