.Footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  position: relative;
  @media screen and (max-width: 750px) {
    .waves {
      display: none;
    }
  }
  .footerSection {
    position: absolute;
    bottom: 0;

    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 750px) {
      height: 100px;
    }
    .logo {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .icon {
        width: 40px;
        height: 35px;
        color: #7e7ef1;
        background-color: black;
        // padding: 5px;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        &:hover {
          color: #f098a7;
          transform: scale(1.1);
        }
      }
      .svgIcon {
        background-color: black;
        height: 50px;
        path {
          fill: #4949af;
          stroke-width: 10px;
        }
        transition: all 0.15s ease-in-out;
        &:hover {
          transform: scale(1.1);
          path {
            fill: #f098a7;
            stroke-width: 10px;
          }
        }
      }
    }
    .copyright {
      width: 100%;
      height: 50%;
      color: white;
      font-feature-settings: 'cv04' on, 'ss08' on;
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.125rem;
      text-align: center;
    }
  }
}
