.github {
  width: 100%;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding: 80px 0 60px;
  gap: 1rem;

  @media screen and (max-width: 600px) {
    padding: 50px 0 40px;
  }
  .heading {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
    background-image: radial-gradient(circle, #ffffff 60%, #f8fafc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; // Fallback

    @media screen and (max-width: 750px) {
      font-size: 2rem;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.75rem;
      margin-bottom: 25px;
    }
    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 375px) {
      font-size: 1.25rem;
    }
  }
  .inner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2.5rem;

    @media screen and (max-width: 768px) {
      padding: 0 1.7rem;
    }

    @media screen and (max-width: 480px) {
      padding: 0 12px;
    }
  }

  .container {
    position: relative;
    padding: 30px 30px;
    border-radius: 0.75rem;
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    background: transparent !important;
    box-shadow: none;
    gap: 1rem;
    overflow: hidden;

    // Allow calendar to shrink on smaller desktop screens
    :global(.react-activity-calendar) {
      max-width: 100%;
    }
  }

  .widthWrapper {
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .bottomPanel {
    width: fit-content;
    min-width: 300px;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: radial-gradient(circle, #171717, #09090b);
    opacity: 0.9;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .dropdown {
    min-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
