.github {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-width: 200px;
  overflow-x: auto;
  padding: 30px 60px;
  .container {
    padding: 50px 30px;
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
  }
}
