.github {
  width: 100%;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding: 100px 10px;
  gap: 1rem;

  @media screen and (max-width: 600px) {
    padding: 50px 10px;
  }
  .heading {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
    background-image: radial-gradient(circle, #ffffff 60%, #f8fafc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; // Fallback

    @media screen and (max-width: 750px) {
      font-size: 2rem;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.75rem;
      margin-bottom: 25px;
    }
    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 375px) {
      font-size: 1.25rem;
    }
  }
  .container {
    position: relative;
    padding: 30px 30px;
    border-radius: 0.5rem;
    width: fit-content;
    display: flex;
    height: fit-content;
    justify-content: center;
    border-radius: 0.75rem;

    flex-direction: column;
    opacity: 0.8;
    background: radial-gradient(circle, #171717, #09090b) !important;
    box-shadow: black;

    gap: 1rem;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .dropdown {
    min-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
