.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../public//hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .profile {
    border-radius: 100%;
    object-fit: cover;
    margin-top: 200px;
  }
  .heading {
    color: var(--dark-base-fg-fg-2, #ddddde);
    text-align: center;
    font-feature-settings: 'ss07' on, 'cv04' on, 'ss08' on;
    font-family: SF Pro Display;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.05rem;
    background: var(
      --dark-brand-fg-fg-1,
      linear-gradient(135deg, #f098a7 0%, #7e7ef1 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .subtext {
    text-align: center;
    color: var(--dark-base-fg-fg-3, #b9b9bc);
    text-align: center;
    font-feature-settings: 'cv04' on, 'ss08' on;
    font-family: SF Pro Text;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
  }
}
