.skills {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  padding: 100px 10px;
  .contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading {
      margin-bottom: 40px;

      font-size: 2.5rem;
      color: #f5f5f5;
      background-color: black;
      font-weight: 600;
    }
    .radialGradientHeading {
      margin-bottom: 40px !important;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
      line-height: 1.2;
      letter-spacing: -0.02em;
      background-image: radial-gradient(circle, #ffffff 60%, #525252);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent; // Fallback

      @media screen and (max-width: 750px) {
        font-size: 2rem;
        margin-bottom: 40px;
      }
      @media screen and (max-width: 600px) {
        font-size: 1.75rem;
        margin-bottom: 40px;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.5rem;
        margin-bottom: 40px;
      }
      @media screen and (max-width: 375px) {
        font-size: 1.25rem;
      }
    }
    .container {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      gap: 20px;
      .categoryContainer {
        position: relative;
        // padding: 10px;//
        border-radius: 0.75rem;
        // background: #2d2d2d82;
        // border: 1px solid #7373734f;
      }
      .category {
        z-index: 99;
        border-radius: 8px;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 0.75rem;
        background: black;
        background: radial-gradient(circle, #171717, #09090b 90%) !important;
      }

      .category h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #e5e5e5;
        font-weight: 600;
      }

      .items span {
        display: inline-block;

        margin: 5px;
        padding: 10px;
        border-radius: 4px;
        transition: background-color 0.3s;
        color: #fafaf9;
        background: #1c1917;
        background: linear-gradient(to bottom right, #1c1917, #262626);
        font-feature-settings: 'cv04' on, 'ss08' on;
      }

      .items span:hover {
        background: #3f3f46;
      }
      /* Responsive styles */
    }
    @media (min-width: 600px) {
      .items span {
        display: inline-block; /* Inline-block for larger screens */
        margin: 5px; /* Adjust margin for larger screens */
      }
    }

    @media (max-width: 599px) {
      .container {
        grid-template-columns: 1fr; /* Stack the categories on top of each other on mobile */
      }

      .category h2 {
        font-size: 1.2em; /* Adjust font size for smaller screens */
      }
    }
  }
}
