.skills {
  padding: 30px 30px;
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-image: url(../public/lines.svg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  .heading {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #f7f7f7;
  }
  .container {
    width: 100%;
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.4rem;
    display: flex;
    align-items: stretch;
    .card {
      height: 60px;
      border-radius: 0.5rem;
      min-width: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 0.75rem;
      background: white;
      background-color: #2b4162;
      // box-shadow: 0px 0.99752px 3px 0px rgba(113, 125, 150, 0.21),
      //   0px 4px 8px 0px rgba(113, 125, 150, 0.1),
      //   0px 15px 33px 0px rgba(45, 55, 72, 0.14),
      //   0px 2px 2px 0px rgba(255, 255, 255, 0.25) inset;
      background-color: #4d4855;
      background-image: linear-gradient(147deg, #4d4855 0%, #181819 74%);

      .header {
        font-size: 1rem;
        text-transform: capitalize;
        color: #e0e0e0;
      }
      .SliderRoot {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;
        touch-action: none;
        width: 200px;
        height: 20px;
      }

      .SliderTrack {
        background-color: var(--black-a10);
        position: relative;
        flex-grow: 1;
        border-radius: 9999px;
        height: 4px;
      }

      .SliderRange {
        position: absolute;
        background: rgba(224, 114, 26, 1);
        background: radial-gradient(
          at right top,
          rgba(224, 114, 26, 1),
          rgba(235, 22, 219, 1)
        );
        border-radius: 9999px;
        height: 100%;
      }

      .SliderThumb {
        display: block;
        width: 20px;
        height: 20px;
        background-color: white;
        box-shadow: 0 2px 10px var(--black-a7);
        border-radius: 10px;
      }
      .SliderThumb:hover {
        background-color: var(--violet-3);
      }
      .SliderThumb:focus {
        outline: none;
        box-shadow: 0 0 0 5px var(--black-a8);
      }
    }
  }
}
